/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .book-now{
      border-radius: 30px;
    }
    .sidebar{
      width: 100%;
    }
    .navbar-brand img{
      height: 50px;
    }
    .banner .banner-inner{
      height: 350px;
      padding-top: 30px;
    }
    .banner .banner-inner .sub-title{
      font-size: 18px;
      text-align: center;
    }
    .banner .banner-inner .title{
      font-size: 25px;
      text-align: center;
    }
    .foo-bar .op-details h5{
      font-size: 20px;
  }
    .foo-bar .op-details h6{
      font-size: 15px;
  }
  .video div iframe{
    height: 300px;
  }
    
  }
   
  /* Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767.98px) {
    .book-now{
      border-radius: 30px;
    }
    .sidebar{
      width: 100%;
    }
    .navbar-brand img{
      height: 50px;
    }
    .banner .banner-inner{
      height: 450px;
      padding-left: 20px;
    }

  }
  
  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-brand img{
      height: 60px;
    }
    .banner .banner-inner{
      height: 500px;
      padding-left: 20px;
    }
    
  }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) {
    .book-now{
      transform: rotate(90deg);
      border-radius: 0 30px 30px 0;
      right: 30px;
    }
    .banner .banner-inner{
      height: 600px;
    }
  }
  
  /* Extra Large devices (desktops, 992px and up)*/
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .navbar-nav{
      flex-wrap: nowrap;
    }
    .banner .banner-inner{
      height: 700px;
    }
  }
  
  /* Extra Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1400px) {
    .navbar-nav{
      flex-wrap: nowrap;
    }
    .banner .banner-inner{
      height: 900px;
    }
  }
